{% extends 'core/base.html' %}
{% load static %}
{% block title %}admin{% endblock title %}
{% block page_head %}
{% endblock page_head %}


{% block main_content %}
<div class="basemodal">
  <div class="base-modal-content col-l-6 col-m-9 col-s-11" style="margin-top: 5px;">
    <div class="base-modal-header">
      <h
        style="position: relative; font-weight: bold; margin:0; top: 25%; -ms-transform: translateY(-50%);transform: translateY(-50%);">
        ADD ITEMS
      </h>

    </div>
    <div class="base-modal-body">

      <form method="POST" id="item-form">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">

        <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
          <label for="id_item_group">item group:</label>
          <select name="item_group" placeholder="Select Group" class="inputstyle"
            style="text-transform:capitalize;" required id="id_item_group">         
            {% for group in item_groups %}
            <option value="{{group.id}}">{{group.group_name}}</option>
            {% endfor %}
        </select>
        </div>

        <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
          <label for="id_client">Item Name:</label>
          <input type="text" name="item" class="inputstyle" placeholder="Enter item name"
            style="text-transform:capitalize;" required id="id_item_name">
        </div>

        <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px">
          <label for="unit">Unit:</label>

          <select name="unit"  type="search" placeholder="Select Unit" class="inputstyle"
            style="text-transform:capitalize;" required id="id_unit">         
          
        </select>
          
        </div>

        <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
          <label for="id_email">hsn/sac:</label>
          <input type="text" name="hsnsac" class="inputstyle" placeholder="enter hsn/sac" id="id_hsnsac">
        </div>

        <div class="col-l-12 col-m-12 col-s-12 col-" style="float:left; padding:2px;">
          <label for="id_comment">comment:</label>
          <input type="text" name="comment" class="inputstyle" placeholder="Enter comment" id="id_comment">
        </div>

      </form>
    </div>

    <div class="base-modal-footer">
      <button id="ac_submit" class="buttonstyle" form="item-form"
        style="float:right; margin-right: 10px;">Submit</button>

      <a type="button" id="pageBack" class="ancor" onclick="history.back(-1)"
        style="text-decoration: none; float:right; margin-right:10px;"><i> Exit </i></a>
    </div>
  </div>
  {% endblock main_content%}
  {% block main_scripts %}

  
  <script type="module">
    import * as ajexcall from "/static/core/js/modules/ajex.js";
   
    async function unitsjson() {
      let  opt = "";     
      let url = '{% static "core/json/units.json" %}';
      let json_contents = await (await fetch(url)).json();
    
    for(var key in json_contents['units']) {      
      opt += "<option value=" + key  + ">" +json_contents['units'][key] + "</option>"
      }
      document.getElementById("id_unit").innerHTML = opt;
  }
 unitsjson();

   
    document.getElementById('item-form').addEventListener('submit', function (e) {
      let unit = document.getElementById('id_unit').value;
      let group_id = document.getElementById('id_item_group').value;
      let item_name = document.getElementById('id_item_name').value.trim();
      let hsn_sac = document.getElementById('id_hsnsac').value.trim();
      let comment = document.getElementById('id_comment').value.trim();     
      e.preventDefault();
      fetch('/items/api/items')
        .then(function (response) {
          if (!response.ok) {
            throw Error(response.statusText);
          }
          return response.json();
        })
        .then(getitems => {
          let item_exist = false;
          for (let it in getitems) {
            if(getitems[it]['item_name'] == item_name){
            item_exist = true;
            alert('Item Allready Exist');
            }
          }
          if (!item_exist) {
            const data = { 'item_group': group_id, 'item_name': item_name, 'item_unit': unit, 'hsn_sac': hsn_sac, 'comment': comment }
            return fetch('/items/api/items/', ajexcall.postoption(data))
              .then(function (response) {
                if (!response.ok) {
                  throw Error(response.statusText);
                }
                return response.json();
              })
              .then(data => {
                // console.log(data);
                document.getElementById('id_item_name').value = '';
                document.getElementById('id_hsnsac').value = '';
                document.getElementById('id_comment').value = '';
                document.getElementById('id_unit').value = '';
                document.getElementById('id_item_group').value = '';
                c_alert.render('Item Status', 'Item Created Success', 3000);
              })
              .catch(err => { alert(err); })
          }
        })
        .catch(error=>{alert(error);})
  })


  </script>
  {% endblock main_scripts %}