{% extends 'core/base.html' %}
{% block title %}neworders{% endblock title %}

{% block main_content %}

<div class="basemodal">

    <!-- Modal content -->
    <div class="base-modal-content col-l-6 col-m-9 col-s-11" style="margin-top:5px;">
        <div class="base-modal-header">
            <h style="position: relative; font-weight: bold; margin:0; top: 25%; -ms-transform: translateY(-50%);transform: translateY(-50%);" >
                Select Consignee
            </h>

        </div>
        <div class="base-modal-body">
            <form method="POST" id="add-order-form">
                {% csrf_token %}
                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px">
                    <label for="id_email">Select Consignee</label>
                    <input id="consignee_input" name="consignee_input" placeholder="Select Consignee" type="search"  value="" list="consignee_id" required
                        style="text-transform:capitalize;" />
                    <datalist id="consignee_id" style="text-transform:capitalize;">
                        
                        {% for cli in consignes %}
           
                        <option data-id="{{cli.id}}" value="{{cli.consignee_name}} / {{cli.client_id}}"> </option>>
                       
                        {% endfor %}
                    </datalist>

                </div>

                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
                    <label for="id_email">Date</label>
                    <input type="Date" name="date" class="inputstyle" required id="id_date">
                </div>

                <div class="col-l-12 col-m-12 col-s-12 col-" style="float:left; padding:2px;">
                    <label for="id_email">Comment</label>
                    <input type="text" name="itemname" style="background-color: aliceblue; opacity: .7;"  placeholder="About Orders" class="inputstyle">
                </div>


                <div class="col-l-12 col-m-12 col-s-12 col-" style="float: left; padding: 2px;">
                    <a class="ancor smallbuttonstyleround" href="#"
                        style="text-decoration: none; margin-right: 3px; float: left; margin-top:30px;">Add Consignee
                        &#10009;</a>
                   

                   

                </div>
            </form>


        </div>
        <div class="base-modal-footer">
            <a  class="buttonstyle" onclick="history.back(-3)"
            style="text-decoration: none; float:right; margin-right:10px;"><i> Exit
            </i></a>
            <button  type="submit" class="buttonstyle" form="add-order-form"
            style="float:right; margin-right: 10px;">Add Order Item</button>
        </div>
    </div>

</div>


{% endblock main_content%}


{% block main_scripts %}

<script>

    document.getElementById("id_date").valueAsDate = new Date();
     function validateForm(event) {

        consignee_id = selecteddatalistid('consignee_input', 'consignee_id');
        let  consignee_name=document.getElementById('consignee_input').value;
        let data = {'consignee':consignee_id, post_id1: 'Data to Psost 2' };

        let fetchtext =  fetch('/orders/add_order/',postoption(data));

        fetchtext.then(async response => {
            return await response.json(); // Convert response to json
        })
            .then(data => {
               
                if (data.consignee) {
                    alert(data.consignee); 
                    window.location.href = '/orders/order_item/';
                  
                    }


            })
            .catch(err => { alert( err) } );


        
    }   
</script>


{% if messages %}
{% for message in messages %}
<script>alertmsg('{{message}}', 3000)</script>
{% endfor %}
{% endif %}

{% endblock main_scripts %}