{%load static%}

<div class="basemodal" id="dis_tran" style="position: absolute;">
    <div class="base-modal-content col-l-6 col-m-9 col-s-11" style="margin-top:5px;">
        <div class="base-modal-header">
            <h
                style="position: relative; font-weight: bold; margin:0; top: 25%; -ms-transform: translateY(-50%);transform: translateY(-50%);">
                Dispatch / Transfer Order
            </h>
        </div>
        <div class="base-modal-body">
            <form id="dispatch-form" method="POST">
                {% csrf_token %}
                <div class="col-l-6 col-m-6 col-s-6 col-6" style="float:left; padding:1px;">
                    <label for="id_date">Date</label>
                    <input type="Date" name="date" class="inputstyle" style="padding: 3px;" required id="dispatch_date">
                </div>
                <div class="col-l-6 col-m-6 col-s-6 col-6" style="float:left; padding:2px;">
                    <label for="dippatch_qty">Qty</label>
                    <input type="number" min="1" max="1000" step=".1" name="itemprice" placeholder="Enter Qty"
                        class="inputstyle" required id="dispatch_qty">
                </div>
                <div class="col-l-6 col-m-6 col-s-6 col-6" style="float:left; padding:2px;">
                    <label for="status">Status</label>
                    <select id="status" placeholder="Select Status" class="inputstyle" required>
                        <option value="dis" selected>Dispatched</option>
                        <option value="trn">Transfer to Consignee</option>
                        <option value="can">Cancelled</option>
                    </select>
                </div>
                <div id="tranfer_to" class="col-l-6 col-m-6 col-s-6 col-6"
                    style="float:left; padding:2px; display: none;">
                    <label for="t_consignee">Transfer_to</label>
                    <select id="t_consignee" placeholder="Select Consignee" class="inputstyle">

                    </select>
                </div>
                <div id="docket_div" class="col-l-6 col-m-6 col-s-6 col-6" style="float:left; padding:2px;">
                    <label for="docket">Docket No.</label>
                    <input placeholder="Enter Docket No" class="inputstyle" id="docket" required>
                </div>

                <div id="station_div" class="col-l-6 col-m-6 col-s-6 col-6" style="float:left; padding:2px">
                    <label for="Satation">Station</label>
                    <input id="station" type="search" placeholder="station" class="inputstyle"
                        required style="text-transform:capitalize;" />
                  
                </div>

                <div id="transport_div" class="col-l-6 col-m-6 col-s-6 col-6" style="float:left; padding:2px">
                    <label for="transport">Transport</label>
                    <input id="transport" type="search" class="inputstyle" placeholder="transport"
                         required style="text-transform:capitalize;" />                    
                </div>

                <div class="col-l-12 col-m-12 col-s-12 col-12" style="float:left; padding:2px;">
                    <label for="dispatch_comments">Comments</label>
                    <input class="inputstyle" placeholder="add comments" id="dispatch_coments">
                </div>
            </form>
        </div>
        <div class="base-modal-footer">
            <button type="button" id="hide" class="buttonstyle"
                style="float:right; margin-right: 10px; margin-bottom: 10px;">Exit</button>
            <button class="buttonstyle" form="dispatch-form" id="dispatch_order"
                style="float:right; margin-right: 10px; margin-bottom: 10px;">Submit</button>

        </div>
    </div>
</div>

<script>
 //   import * as ajexcall from "/static/core/js/modules/ajex.js";
    let order_id='{{item_order_id}}';
    let order_bal = '{{bal}}';
    let order_data= '';
   
    document.getElementById('dispatch_date').valueAsDate = new Date();
    document.getElementById('dispatch_qty').value = order_bal;

    function getorder(){

        let t_con = document.getElementById('t_consignee');
        t_con.innerHTML = '';

        fetch('/orders/api/order_item/'+order_id+'/')
        .then( function (response){
            if (!response.ok) {
                throw Error(response.statusText);
            }
            return response.json();
        })
        .then(function (order){
          
           order_data = order;
            return fetch('/clients/api/consignee_by_client_id/'+order['client_id']+'/')
            .then(function(response){
                if(!response.ok){
                    throw Error(response.statusText);
                }
                return response.json();
            })
            .then(function(consignee){
              //  console.log(consignee);
              
                for(let con in consignee){
                  //  console.log(consignee[con]['consignee_name']);
                if(order['consignee_id'] == consignee[con]['id'])
                {
                document.getElementById('station').value=consignee[con]['station'];
                document.getElementById('transport').value=consignee[con]['transport'];
                }
                else{
                let opt = document.createElement('option');
                opt.innerHTML = consignee[con]['consignee_name'];
                opt.value = consignee[con]['id'];
                t_con.appendChild(opt);
                }
            }
            })
            .catch(err=>{alert(err);})

        })
        .catch(err=>{alert(err);})
    }
    document.getElementById('status').addEventListener('change', function () {
        if (document.getElementById('status').value == 'trn') {
            document.getElementById('docket').setAttribute('required', false);
            document.getElementById('docket').disabled = true;
            document.getElementById('docket_div').style.display = 'none';
            document.getElementById('tranfer_to').setAttribute('required', true);
            document.getElementById('tranfer_to').style.display = 'block';
            document.getElementById('station_div').style.display = 'none';
            document.getElementById('transport_div').style.display = 'none';

        }
        else {
            document.getElementById('tranfer_to').setAttribute('required', false);
            document.getElementById('tranfer_to').style.display = 'none';
            document.getElementById('docket').disabled = false;
            document.getElementById('docket').setAttribute('required', true);
            document.getElementById('docket_div').style.display = 'block';
            document.getElementById('station_div').style.display = 'block';
            document.getElementById('transport_div').style.display = 'block';

        }
    })
 getorder();

 document.getElementById('dispatch-form').addEventListener('submit', function (e) {
    e.preventDefault();
    let item_qty = document.getElementById('dispatch_qty').value;
    let dis_trs_data = '';
    let dispatch_transfer_date = document.getElementById("dispatch_date");
    let dispatch_qty = parseFloat(document.getElementById('dispatch_qty').value);
    let dispatch_status = document.getElementById('status').value.toLowerCase();
    let docket_number = document.getElementById('docket').value;
    let dispatch_comment = document.getElementById('dispatch_coments').value;


    let t_con = document.getElementById('t_consignee').value;
    if (dispatch_status == 'trn') {

        dis_trs_data = {
            'client_id': order_data['client_id'],
            'consignee_id': order_data['consignee_id'],
            'item_order_id': order_id,
            'date': dispatch_transfer_date.value,
            'item_qty': dispatch_qty,
            'status': 'trn',
            'transfer_id': t_con,
            'dispatch_comment': dispatch_comment

        };

    }
    else {
        dis_trs_data = {
            'client_id':order_data['client_id'],
            'consignee_id': order_data['consignee_id'],
            'item_order_id': order_id,
            'date': dispatch_transfer_date.value,
            'item_qty': dispatch_qty,
            'status': 'dis',
            'docket_number': docket_number,
            'transfer_id': null,
            'station':document.getElementById('station').value,
            'transport':document.getElementById('transport').value,
            'dispatch_comment': dispatch_comment
        };

    }

    if (order_bal < dispatch_qty) {
        alert('Balance Order Qty. is less then ' + dispatch_qty + " " + parseFloat(item_qty[0]).toFixed(1));
    }
    else {
        
        fetch('/orders/api/ios/', ajexcall.postoption(dis_trs_data))
            .then(function (response) {
                if (!response.ok) {
                    throw Error(response.statusText);
                }
                return response.json(); // Convert response to json use text for text
            })
            .then(data3 => {

                if (data3['status'] == 'trn') {
                    let ordobj = {
                        "client_group":order_data['client_group'],
                        "order_date": order_data['order_date'],
                        "item_veriant_price": order_data['item_veriant_price'],
                        "item_qty":item_qty,
                        "client_id": order_data['client_id'],
                        "consignee_id": document.getElementById('t_consignee').value,
                        "item_id": order_data['item_id'],
                        "item_variant_id": order_data['item_variant_id'],
                        "price_per_unit": order_data['price_per_unit'],
                        "packing_type": order_data['packing_type'],
                        "order_type": "trn"                       
                    }

                    fetch('/orders/api/order_item/', ajexcall.postoption(ordobj))
                        .then(function (response) {
                            if (!response.ok) {
                                throw Error(response.statusText);
                            }
                            return response.json();
                        })
                        .catch(err => { alert(err); })

                }

                const data23 = { 'con_id': data3['consignee_id'] };
                fetch('/orders/api/ios_by_client_id/' + data3['client_id'])
                    .then(function (response) {
                        if (!response.ok) {
                            throw Error(response.statusText);
                        }
                        return response.json();
                    })
                    .then(data2r => {
                        consignee_ios = data2r;
                        return fetch('/orders/order_item/', ajexcall.putoption(data23))
                            .then(function (response) {
                                if (!response.ok) {
                                    throw Error(response.statusText);
                                }
                                return response.json();
                            })
                            .then(data1r => {
                                dataFromFetch = data1r; //all jSON data to dataFromfetch assign
                                orders('undispatched', data1r);
                                document.getElementById('dis_tran').style.display = 'none';
                                c_alert.render('Order Status', 'Order Process Success', 4000);
                                document.getElementById('docket').disabled = false;
                                document.getElementById('docket').setAttribute('required', true);
                                document.getElementById('docket_div').style.display = 'block';
                            })
                            .catch(err => { alert(err); })

                    })
                    .catch(err => { alert(err); })
            
            })
            .catch(err => { alert(err); })
            
    }



})





</script>