{%load static%}

<div class="basemodal" id="item_modal" style="position: absolute;">

    <div class="base-modal-content col-l-6 col-m-9 col-s-11" style="margin-top:5px;">

        <div class="base-modal-header">
            <h
                style="position: relative; font-weight: bold; margin:0; top: 25%; -ms-transform: translateY(-50%);transform: translateY(-50%);">
                Update Order
            </h>
        </div>

        <div class="base-modal-body">
            <form id="update-form" method="POST">
                {% csrf_token %}
                <div class="col-l-4 col-m-4 col-s-4 col-6" style="float:left; padding:1px;">
                    <label for="id_email">Date</label>
                    <input type="Date" name="date"  class="inputstyle"
                    style="padding: 3px;" {% if user.is_user %} disabled="True" {% endif %} required id="order_date">
                </div>

                <div class="col-l-8 col-m-8 col-s-8 col-6" style="float:left; padding:2px">
                    <label for="item_input">Item name</label>
                    <input id="item_input" type="search" value="" class="validdatalist" placeholder="select item"
                        list="item_list" required style="text-transform:capitalize;" />
                    <datalist id="item_list" style="text-transform:capitalize;">

                    </datalist>

                </div>

                <div class="col-l-7 col-m-7 col-s-7 col-7" style="float:left; padding:2px">

                    <label for="item_variant">Item Variants</label>
                    <input id="item_variant" type="search" class="validdatalist" placeholder="select variant"
                        list="item_variant_list" required style="text-transform:capitalize;" />
                    <datalist id="item_variant_list" style="text-transform:capitalize;">

                    </datalist>


                </div>

                <div class="col-l-2 col-m-2 col-s-2 col-2" style="float:left; padding:2px;">
                    <label for="item_price">Price</label>
                    <input type="number" min="1" max="1000" step=".01" {% if user.is_user %} disabled="true" {% endif %}
                        name="itemprice" placeholder="Enter Price" class="inputstyle" required id="item_price">

                </div>

                <div class="col-l-1 col-m-1 col-s-1 col-1" style="float:left; padding:2px;">
                    <label for="per">.</label>
                    <input id="per" type="text" class="inputstyle" placeholder=" / " disabled='True'
                        style="text-transform:capitalize; text-align:center;" />

                </div>


                <div class="col-l-2 col-m-2 col-s-2 col-2" style="float:left; padding:2px;">
                    <label for="qty">.</label>
                    <input id="per_unit" type="text" class="inputstyle" disabled='True' required
                        style="text-transform:capitalize;" />

                </div>

                <div class="col-l-6 col-m-6 col-s-6 col-6" style="float:left; padding:2px;">

                    <label for="qty">Qty.</label>
                    <input type="number" min="1" max="1000" step=".001" name="itemname" placeholder="Enter QTY."
                        class="inputstyle" required id="qty" />
                </div>

                <div class="col-l-6 col-m-6 col-s-6 col-6" style="float:left; padding:2px;">
                    <label for="order_unit">Order Unit</label>
                    <select id="order_unit" class="inputstyle" required style="text-transform:capitalize;" />
                    </select>

                </div>

                <div class="col-l-12 col-m-12 col-s-12 col-" style="float:left; padding:2px;">
                    <label for="id_email">Comment</label>
                    <input type="text" name="itemname" id="comment" style="text-transform:capitalize; background-color: aliceblue; opacity: .7;"
                        placeholder="About Orders" class="inputstyle">
                </div>
            </form>
        </div>

        <div class="base-modal-footer">
            <button type="button" id="hide" class="buttonstyle"
                style="float:right; margin-right: 10px; margin-bottom: 10px;">Exit</button>
            <button class="buttonstyle" form="update-form" id="update-order"
                style="float:right; margin-right: 10px; margin-bottom: 10px;">Update</button>

        </div>

    </div>

</div>

<script type="module">
    // import * as ajexcall from "/static/core/js/modules/ajex.js";   
    let items_data;
    let per_unit_id='';
    let item_variant_data;
    let unit = '';
    let order_id = "{{order_id}}";
    let order_data = '';

    document.getElementById("order_date").valueAsDate = new Date();

    async function unitsjson() {
        unit = await (await fetch('/items/api/units/')).json();
       document.getElementById('order_unit').innerHTML = '';
        let json_contents = await (await fetch('/items/api/packing_unit/')).json();
           
        for (let pu in json_contents) {
            document.getElementById("order_unit").innerHTML += "<option value=" + json_contents[pu]['id'] + ">" + json_contents[pu]['packing_unit_name'] + "</option>"
            
        }
    // console.log(unit);
    }
    unitsjson();



    fetch('/items/api/items/')
        .then(function (response) {
            if (!response.ok) {
                throw Error(response.statusText);
            }
            return response.json();
        })
        .then(Items => {
            items_data = Items;
            let itemlist = document.getElementById('item_list')
            let item_id;
            for (var i = 0; i < Items.length; i++) {
                var opt = document.createElement('option');
                opt.setAttribute("data-id", Items[i]['id']);
                opt.setAttribute('unit-id', Items[i]['item_unit'])
                opt.value = Items[i]['item_name'];
                itemlist.appendChild(opt);              

            }
            return fetch('/orders/api/order_item/' + order_id + '/')
                .then(function (response) {
                    if (!response.ok) { throw Error(response.statusText); }
                    return response.json();
                })
                .then(orders => {
                    order_data=orders;
                  //  console.log(orders);
                  //  console.log(unit);
                    document.getElementById('item_price').value = orders['item_veriant_price'];
                    document.getElementById('qty').value = orders['item_qty'];
                    document.getElementById('order_date').value = orders['order_date'];                    
                    document.getElementById('comment').value =orders['comment'];

                    for(let ui in unit){
                        if(orders['price_per_unit'] == unit[ui]['id']){
                            document.getElementById('per_unit').value = unit[ui]['unit_abbreviation'];
                          //  console.log(unit[ui]['id']);
                        }
                    }

                    for(let it in Items)
                    {
                        if(Items[it]['id']==orders['item_id'])
                        {
                            document.getElementById('item_input').value = Items[it]['item_name'];
                        }
                       
                    }
                    

                    fetch('/items/api/itemvariant_by_item_id/' + orders['item_id'])
                        .then(function (response) {
                            if (!response.ok) { throw Error(response.statusText); }
                            return response.json();
                        })
                        .then(Item_varient => {
                            // document.getElementById('item_variant_list').innerHTML = '';       
                            item_variant_data = Item_varient;
                            // console.log(Item_varient);
                            let variant_list = document.getElementById('item_variant_list');
                            variant_list.innerHTML = '';
                            for (let variant in Item_varient) {
                                var opt = document.createElement('option');
                                opt.setAttribute("data-id", Item_varient[variant]['id']);
                                opt.setAttribute("price-g", Item_varient[variant]['client_price_' + '{{client_group}}']);
                                opt.value = Item_varient[variant]['variant_name'];
                                variant_list.appendChild(opt);
                                // alert(Items[i]['id']);
                                if (Item_varient[variant]['id'] == orders['item_variant_id']) {
                                    document.getElementById('item_variant').value = Item_varient[variant]['variant_name'];
                                }

                            }
                        })
                        .catch(err => { alert(err); })

                })
                .catch(err => { alert(err); })

        })
        .catch(err => { alert(err); })




    document.getElementById('item_input').addEventListener('change', function () {
        let item_id = selectedDatalistAttributeValue('item_input', 'item_list', 'data-id');    
        for (let it in unit) {

            if (unit[it]['id'] == item_id) { 
                document.getElementById('per_unit').value = unit[it]['unit_abbreviation']; 
                per_unit_id = unit[it]['id'];
            }

        }
        document.getElementById('item_price').value = "";
      
        if (typeof item_id != "undefined") {
            get_item_variant_by_item_id(item_id)
        }

    })

    document.getElementById('item_variant').addEventListener('change', function () {
        let g_prce = selectedDatalistAttributeValue('item_variant', 'item_variant_list', 'price-g');
        if (typeof g_prce != "undefined") {
            document.getElementById('item_price').value = g_prce;
        }
      
    })

    function get_item_variant_by_item_id(pk) {
        item_variant_data = '';

        document.getElementById('item_variant').value = '';
        fetch('/items/api/itemvariant_by_item_id/' + pk)
            .then(function (response) {
                if (!response.ok) { throw Error(response.statusText); }
                return response.json();
            })
            .then(Item_varient => {
                // document.getElementById('item_variant_list').innerHTML = '';       
                item_variant_data = Item_varient;
                // console.log(Item_varient);
                let variant_list = document.getElementById('item_variant_list');
                variant_list.innerHTML = '';
                for (let variant in Item_varient) {
                    var opt = document.createElement('option');
                    opt.setAttribute("data-id", Item_varient[variant]['id']);
                    opt.setAttribute("price-g", Item_varient[variant]['client_price_' + '{{client_group}}']);
                    opt.value = Item_varient[variant]['variant_name'];
                    variant_list.appendChild(opt);
                    // alert(Items[i]['id']);
                   
                }
            })
            .catch(err => { alert(err); })

            }


    document.getElementById('update-form').addEventListener('submit', function (e) {
            
            e.preventDefault();


           
           let order_update_data = {
                "order_date": document.getElementById('order_date').value,
                "item_veriant_price": document.getElementById('item_price').value,
                "price_per_unit": per_unit_id,
                "item_qty": document.getElementById('qty').value,
                "packing_type": document.getElementById('order_unit').value,                          
                "comment": document.getElementById('comment').value,             
                "item_id": selectedDatalistAttributeValue('item_input', 'item_list', 'data-id'),
                "item_variant_id": selectedDatalistAttributeValue('item_variant', 'item_variant_list', 'data-id')
            
            }
         
            fetch('/orders/api/order_item/'+order_id+'/',ajexcall.patchoption(order_update_data))
            .then(function(response){
                if(!response.ok){
                    throw Error(response.statusText);
                }
                return response.json();
            })
            .then(function (update_order){
                const update = { 'con_id': update_order['consignee_id'] };
                return fetch('/orders/order_item/', ajexcall.putoption(update))
                            .then(function (response) {
                                if (!response.ok) {
                                    throw Error(response.statusText);
                                }
                                return response.json();
                            })
                            .then(updated_list => {
                                dataFromFetch = updated_list; //all jSON data to dataFromfetch again assign
                                orders('undispatched', updated_list);
                                document.getElementById('fetch-html-content').style.display = 'none';                        
                                c_alert.render('Order Status', 'Order Update Success', 3000);
                               
                            })
                            .catch(err => { alert(err); })

            })
            .catch(err=>{alert(err);})

           
        })

</script>