
<div class="basemodal" style="position: absolute;">

    <div class="base-modal-content col-l-6 col-m-9 col-s-11" style="margin-top:5px;">
        <div class="base-modal-header">
            <h
                style="position: relative; font-weight: bold; margin:0; top: 25%; -ms-transform: translateY(-50%);transform: translateY(-50%);">
                Sent Details
            </h>
        </div>
        <div class="base-modal-body">
            <table id="sent-details-table" class="myTable" style="text-align:center;">
                <thead style="text-align: center; font-size: 12px;">
                    <tr>
                        <th>Date</th>
                        <th>Qty</th>
                        <th>Status</th>
                        <th>.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for status in dispatched %}                    
                    <tr>
                    <td>{{status.date}}</td>
                    <td> {{status.item_qty}} </td>
                    <td style="text-transform:capitalize;">{{status.status}} {% if status.transfer_id != None  %} to {{status.transfer_id}} {% else %} Docket No. {{status.docket_number}} {% endif %} </td>
                    <td>.</td>
                    </tr>
                    {% endfor %}
                   
                </tbody>
            </table>
        </div>
        <div class="base-modal-footer">
            <button type="button" id="hide" class="buttonstyle"
                style="float:right; margin-right: 10px; margin-bottom: 10px;">Exit</button>
           
        </div>
    </div>
</div>