{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="{% static 'core/css/topnav.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/model.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}" />   
    {% block page_head %} {% endblock page_head %}
    <title>{% block title %} {% endblock title %} | orders</title>
    
</head>

<body>


 <div style="position: absolute; top: 45; bottom: 0; left: 0; right: 0; overflow-y: auto; ">
 {% block main_content %} 
 {% endblock main_content%}
 </div>
 
    
    <script src="{% static 'core/js/model.js' %}"></script>
    <script src="{% static 'core/js/fetchApi.js' %}"></script>
    <script src="{% static 'core/js/common.js' %}"></script>    

     {% block main_scripts %} {% endblock main_scripts %} 

     
</body>

</html>