{% extends 'core/base.html' %}

{% block title %}home{% endblock title %}




{% block main_content %}

{% include 'core/topnavbar.html' %}

<div style="position: absolute; left:0; right: 0; background-color:red;">

  jhgjih <br>
  lkokjjk <br>
  lkjjkhik <br>
  ljkjki

</div>    

  <!-- For The login/signup Modal -->
  <div id="loginModal" class="loginmodal">

    <!-- Modal content -->
    <div class="login-modal-content">
        <div class="modal-header">
            <h3 id="headertext" style="margin-top:10px; padding: 13px; text-align: center;">Please Login</h3>
           
        </div>            
        <div id="loginmodel-body" class="login-modal-body">
           {% csrf_token %}
        
        </div>

    </div>

</div>

<!--The menu model-->
<div id="menuModal" class="menumodal">

    <!-- Modal content -->
    <div class="menu-modal-content">
      
        <div class="menu-modal-body">
        {% include 'core/menu_page.html' %}
        </div>

    </div>

</div>

{% endblock main_content%}


 {% block main_scripts %}
   

    <script>
   
      var loginbtn1 = document.getElementById("loginBtn"); //for top nav login btn
         
        loginbtn1.onclick = function() 
         {
            // alert('hello');
           loginform();
             
         };
     
     // for login form access
       function loginform(){
          document.getElementById("menuBtn").style.display = "none";
          let data={ post_id:'Data to post', post_id1:'Data to Psost 2' };
             
              let fetchtext = fetch('/signin/',putoption(data));
         
                fetchtext.then(response => {
                         return response.text() //Convert response to text
                 })
                 .then(data => {
                 //Perform actions with the response data from the view            
                 document.getElementById("loginmodel-body").innerHTML= data;
                 document.getElementById("headertext").innerHTML='PLEASE SIGNIN';
                 loginmodal.style.display = "block";
               
                
                 }) 
     
       }   
     
     </script>

{% if user.is_authenticated != True %} 
<script>        
  var menubtn = document.getElementById("menuBtn");
      menubtn.style.display="none";
      (function () {  loginform(); })();
 </script>
{% else %}
<script> 
var menubtn = document.getElementById("menuBtn");
  menubtn.style.display="block";
</script>
{% endif %}
 {% endblock main_scripts %}