

{% if messages %}{% for message in messages %}
   <div style="text-align: center; font-weight: bold; padding: 5px;">  {{message}} </div>
{% endfor %}{% endif %}
<form method="POST" action="signin/">
   {% csrf_token %}
   <div style="padding-bottom:40px;">
    {% for field in fm %}
      
        {{ field.label_tag }} 
      
      {{ field }}
      
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      
    {% endfor %}
    <div>     
     <button id="sub" type="Submit" class="buttonstyle" style="float:right; margin-top: 10px; margin-right:1px;">Submit</button>     

      <a  href="signup/" class="ancor" style="text-decoration: none; float:right; margin-right:20px; padding-top: 15px;" >New  SignUp</a>
      </div>
  <div id="iner"></div>
</div>

