
{% extends 'core/base.html' %}
{% block page_head %}
<style>
.signupmodal {    
  position: fixed; /* Stay in place */
  padding-top:  10px; /* Location of the box */
  z-index: 1; /* Sit on top */ 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.signup-modal-content {
    position: relative;
    background-color: #e4e4e4;
    margin: auto;
    width: 400px;
    padding: 0px;
    border-radius: 11px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  .signup-modal-header {
    padding: 0px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background-color: lightblue;
    color: rgb(15, 15, 15);
    height: 50px;
  }
  .signup-modal-body {
    padding-top: 0;
    padding-bottom: 20px;    
    overflow-y: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #e4e4e4;
    
  }

</style>
{% endblock page_head %}
{% block title %}signup{% endblock title %}

{% block main_content %}
<div class="signupmodal">
  <div class="signup-modal-content">
    <div class="signup-modal-header">
      <h3 style="margin-top:10px; padding: 13px; text-align: center;">Please Signup</h3>
     
  </div>        
    <div class= "signup-modal-body">
<form method="POST" >
   {% csrf_token %}
   
    
    {% for field in fm %}
   
      <h5 style="text-align:left; padding-left:20px;">
        {{ field.label_tag }} 
      
      <span style="right:0;float:right; padding-right:20px; word-wrap: break-word;">  {{ field }} </span>
      
      {% for error in field.errors %}
      <p style="color: red;">{{ error }}</p>
      {% endfor %}
      </h5>
    {% endfor %}
     <button type="submit" class="buttonstyle" style="float:right; margin-right:20px;">Submit</button>
      <a id="signupBtn"  href="{% url 'home' %}" style="float:right; text-decoration: none; margin-right:20px; padding-top: 5px;" >Login</a>

    
</form>
  </div>
</div>
</div>
{% endblock main_content %} 
{% block main_scripts %} <script>
  
</script> {% endblock main_scripts %} 
