
  <div class="topnav" >        
         <a style="position:absolute; font-weight: bold; top:10px; left:10px;"> Spangle </a>
         <h4 id="menuBtn" class="menuBtn" >&#9783;</h4>
        
        {% if user.is_authenticated %}
        <a class="logoutbtn" href="{% url 'user_logout' %}">Logout</a>
        <h class="username">{{user.first_name}} {{user.last_name}}</h>
        {% else %}
         <a id="loginBtn" type="button" class="loginbtn">Login</a>        
            
         {% endif %}       
        <hr style="position:relative; bottom: -38px;">
    </div>


    {% block main_scripts %} 
    <script>
    var menubtn = document.getElementById("menuBtn");    
    menubtn.onclick = function(){
    menumodal.style.display = "block";

}
      // When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == loginmodal || event.target == menumodal) {
    loginmodal.style.display = "none";
    menumodal.style.display ="none";
  }
}

    </script>
      {% endblock main_scripts %}