{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} {% endblock title %} | orders</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'core/css/topnav.css' %}" />
  <link rel="stylesheet" href="{% static 'core/css/model.css' %}" />
  <link rel="stylesheet" href="{% static 'core/css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'core/css/loader.css' %}" />
  {% block page_head %} {% endblock page_head %}


</head>

<body>
  {% include 'core/topnavbar.html' %}


  <div
    style="position:fixed; top: 45px; bottom: 1px;  left: 0px; right: 0px; overflow-y: auto;  background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.1);">
    {% block main_content %}

    {% endblock main_content %}
  </div>


  <div id="loader"
    style="position:absolute; z-index:999999; top:0; bottom:0; left:0;right:0; background-color: rgba(88, 88, 88, 0.808);display:none;">
    <div class="loader"></div>
  </div>



 
  <script type="application/javascript" src="{% static 'core/js/base.js' %}"></script>

{% if user.is_authenticated %}

  <!--The menu model-->
  <div id="menuModal" class="menumodal">
    <!-- Modal content -->
    <div class="menu-modal-content">
      <div class="menu-modal-body">
        {% if user.is_authenticated == True %}
        {% include 'core/menu_page.html' %}
        {% endif%}
      </div>
    </div>

  </div>
  <!-- for profile  -->
  <div id="profile-modal" class="profilemodal">
    <div class="profile-modal-content">
      <div class="menu-modal-body">

        {% if user.is_authenticated == True %}
        <div>
          {% if user.user_img.url != None and user.user_img.url != "" %}<img src="{{user.user_img.url}}"
            alt="profilepic" height="100" width="100">
          {% else %}
          <img src="/media/user/default/defaultuser.png" alt="profilepic" height="100" width="100">
          {% endif %}
          <div style="float:right; margin-right:10px;">

            {% if user.user_img.url != None and user.user_img.url != "" %}
            <a href="/profile_change/delimg/" class="ancor" style="text-decoration: none;"><i> remove image
              </i></a>
            {% endif %}
            <a href="/profile_change/img/" class="ancor" style="text-decoration:none;"><br><i>Edit Profile Img </i> </a>
            <br>
            <br>

            <h style="text-transform: capitalize; font-weight:bold;"> {{user.first_name}}
              {{user.last_name}} </h>
          </div>



        </div>

        <div style=" text-align:center; margin-bottom:10px; ">
          <a href="/profile_change/details/" class="ancor"
            style="text-decoration: none; float :left; margin-left:10px; margin-bottom:10px;"> <small> Manage Profile
            </small></a>

          <a href="/changepass/" class="ancor"
            style="text-decoration: none; margin-left:10px;  float:left; margin-bottom:10px;"> <small> Change Password
            </small></a>

          <a href="/user_logout/" type="button" class="buttonstyle" style="float:right; margin-right:10px;">Signout</a>
          <a id="profile_exit" class="buttonstyle" style="text-decoration: none; float:right; margin-right:10px;"><i>
              Exit </i></a>


        </div>
        {% endif%}
      </div>

    </div>
  </div>

  <script>
    var proclose = document.getElementById("profile_exit");
    proclose.onclick = function (event) {
      document.getElementById("profile-modal").style.display = "none";
    }

    var profilebtn = document.getElementById("profilebtn");

    profilebtn.onclick = function (event) {
      document.getElementById("profile-modal").style.display = "block"
    }


    var menubtn = document.getElementById("menuBtn");
    menubtn.classList.toggle('show');
    var profilebtn = document.getElementById("profilebtn");

    profilebtn.onclick = function (event) {
      document.getElementById("profile-modal").style.display = "block";
    }

    var profilemodal = document.getElementById("profile-modal");

    window.addEventListener("click", function (event) {
      if (event.target == profilemodal) {
        profilemodal.style.display = "none";
      }
    });


  </script>
{% endif %}

<footer style="bottom:0 ; padding: 10px; left:0; right: 0; position:fixed; background-color: rgba(167, 167, 167, 0.42);"><h>footer</h></footer>

  {% block main_scripts %} {% endblock main_scripts %}


  {% if messages %}
  {% for message in messages %}
  <script>c_alert.render('Message', '{{message}}', 5000)</script>
  {% endfor %}
  {% endif %}


</body>

</html>