{% extends 'core/base.html' %}
{% block main_scripts %}
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script >
    t = '{{secureToken}}';
 
  window.onload=function() {
      document.getElementById('loader').style.display='block';
    Email.send({       
          SecureToken: '{{secureToken}}',
          To: '{{to}}',
          From: "mail@spangle.in",
          Subject: '{{subject}}',
          Body: '{{message}}'+'{{token}}'+'/',
        })
          .then(function (message) {
            document.getElementById('loader').style.display='none';
            c_alert.render('Mail Send','Please Check Your Mail in side inbox , junk , or spam  ',5000);
           // window.location.replace('http://127.0.0.1:8000/forget_pwd/');
          });
        }
  </script>
{% endblock main_scripts %}