{% extends 'core/base.html' %}
{% block title %}forgetpassword{% endblock title %}

{% block main_content %} 

<div  class="basemodal">

    <!-- Modal content -->
    <div class="base-modal-content col-l-6 col-m-9 col-s-11" style="top:5px">
        <div class="base-modal-header">
            <h style="position: relative; font-weight: bold; margin:0; top: 25%; -ms-transform: translateY(-50%);transform: translateY(-50%);" >{{header}}</h>
           
        </div>            
        <div class="base-modal-body">           
            <form method="POST">
                {% csrf_token %}
                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px">
                <label for="id_username">Username:</label>            
                <input type="text" name="username" class="inputstyle" maxlength="150" required id="id_username">
                </div>
                <div style="float:right">
                    <a  href="/" class="ancor" style="text-decoration: none; float:left; margin-right:10px; margin-top:30px;" ><i> Exit </i></a>
                    <button type="submit" class="buttonstyle" id="fp_submit" style="float:right; margin-top:22px; margin-right: 10px;">Submit</button>
                   
                </div>
            </form>        
            
        
        </div>
        <div class="base-modal-footer" style="height: 10px;">

        </div>
    </div>

  </div>


{% endblock main_content%}

{% block main_scripts %}
   <script>
       document.getElementById('fp_submit').addEventListener('click',function dd(){document.getElementById('loader').style.display='block'})
   </script>
{% endblock main_scripts %}