{% extends 'core/base.html' %}

{% block title %}home{% endblock title %}

{% block main_content %}


<div id="showpage">
<h2>hello i am home page</h2>
</div>


{% endblock main_content%}

{% block main_scripts %}
<script>

  function fetchHtml(page) {

    fetch(page)
      .then((response) => {
        return response.text();
      })
      .then((html) => {
        document.getElementById('showpage').innerHTML = html;
        var scripts = document.getElementById("showpage").querySelectorAll("script");
        for (var i = 0; i < scripts.length; i++) {
          if (scripts[i].innerText) {
            eval(scripts[i].innerText);
          } else {
            fetch(scripts[i].src).then(function (data) {
              data.text().then(function (r) {
                eval(r);
              })
            });

          }
          // To not repeat the element
          scripts[i].parentNode.removeChild(scripts[i]);

        }
      });

  }

</script>
{% endblock main_scripts %}