{% load static %}

{% block page_head %}
<link rel="stylesheet" href="{% static 'core/css/menu_page.css' %}" />
{% endblock page_head %}

<div style="border-top-left-radius: 10px; border-top-right-radius: 10px; text-align: center;">
  <div class="menuhead">
    <a id="closemenu" class="menucloseBtn noselect" onclick="closemenu()">&#x2716;</a>
    <a class="headtitle noselect" id="menuhead">Menu</a>
    <button id="backbtn" onclick="showhide1()" class="noselect hide">&#10094;</button>
  </div>
  <div id="menuitembody" class="menuitembody">
    {% if user.is_admin or user.is_staff %}
    <button id="party_menu" class="menuitembtn" onclick="showhide('party_menu','party_menu_items')">Clients</button>
    {% endif %}
    <button id="consignee_menu" class="menuitembtn" onclick="showhide('consignee_menu','consignee_menu_items')">Consignees</button>
    {% if user.is_staff or user.is_admin %}
    <button id="items_menu" class="menuitembtn" onclick="showhide('items_menu','items_menu_items')">Items</button>
    {% endif %}
    <button id="som" class="menuitembtn" onclick="showhide('som','som_item')">Orders</button>
    {% if user.is_staff or user.is_admin %}
    <button id="pom" class="menuitembtn" onclick="showhide('pom','pom_item')">Purchase</button>
    {% endif %}
  </div>
  <div id="consignee_menu_items" class="showdiv">
    <a href="{% url 'add_consignee' %}" id="add_consignee"  class="asubmenuitem">Add Consignee</a>
    <button id="edit-party" class="submenuitembtn">Edit Consignees</button>
    <button id="delete-party" class="submenuitembtn">Delete Consignees</button>
  </div>
  <div id="items_menu_items" class="showdiv">
    <p>mainFrameTwo</p>
  </div>
  <div id="som_item" class="showdiv">
    <a href="{% url 'addorder' %}" id="add_order"  class="asubmenuitem">Add Order</a>
    <button id="edit-party" class="submenuitembtn">Edit Consignees</button>
    <button id="delete-party" class="submenuitembtn">Delete Consignees</button>
  </div>
  <div id="party_menu_items" class="showdiv">
    <a href="{% url 'add_client' %}" id="add-party"  class="asubmenuitem">Add Client</a>
    <button id="edit-party" class="submenuitembtn">Edit Client</button>
    {% if user.is_staff %}
    <a href="{% url 'add_client' %}" type="button" id="delete-party" class="asubmenuitem">Delete Client</a>
    {% endif %}
  </div>
  <div id="pom_item" class="showdiv">
    <button id="apom" class="menuitembtn" onclick="showhide('apom','apom_item')">Add hhhhh Purchase Orders</button>
    <div id="apom_item" class="showdiv" style="top:0">
      <p>Purchases</p>
    </div>
  </div>
</div>


{% block main_scripts %}
<script src="{% static 'core/js/menu_page.js' %}"></script>
{% endblock main_scripts %}