{% load static %}

{% block page_head %}
<link rel="stylesheet" href="{% static 'core/css/menu_page.css' %}" />
{% endblock page_head %}

<div style="border-top-left-radius: 10px; border-top-right-radius: 10px; text-align: center;">
  <div class="menuhead">
    <a id="closemenu" class="menucloseBtn noselect" onclick="closemenu()">&#x2716;</a>
    <a class="headtitle noselect" id="menuhead">Menu</a>
    <a id="backbtn" onclick="showhide1()" class="noselect hide">&#10094;</a>
  </div>
  <div id="menuitembody" class="menuitembody">
    {% if user.is_admin or user.is_staff %}
    <a id="party_menu" class="amenuitembtn" onclick="showhide('party_menu','party_menu_items')">Clients</a>
    {% endif %}
    <a id="consignee_menu" class="amenuitembtn" onclick="showhide('consignee_menu','consignee_menu_items')">Consignees</a>
    {% if user.is_staff or user.is_admin %}
    <a id="items_menu" class="amenuitembtn" onclick="showhide('items_menu','items_menu_items')">Items</a>
    {% endif %}
    <a id="som" class="amenuitembtn" onclick="showhide('som','som_item')">Orders</a>
    {% if user.is_staff or user.is_admin %}
    <a id="pom" class="amenuitembtn" onclick="showhide('pom','pom_item')">Purchase</a>
    {% endif %}
  </div>
  <div id="consignee_menu_items" class="showdiv">
    <a href="{% url 'add_consignee' %}" id="add_consignee" onclick="menumodelHide()" class="asubmenuitem">Add Consignee</a>
    <a id="edit-consignee1" class="asubmenuitem">Edit Consignees</a>
    <a id="delete-party" class="asubmenuitem">Delete Consignees</a>
  </div>
  <div id="items_menu_items" class="showdiv">
    <p>mainFrameTwo</p>
  </div>
  <div id="som_item" class="showdiv">
    <a href="{% url 'orderitem' %}" id="add_order" onclick="menumodelHide()" class="asubmenuitem">Add Order</a>
    <a id="edit-Consignee" class="asubmenuitem">Edit Consignees</a>
    <a id="delete-consignee" class="asubmenuitem">Delete Consignees</a>
  </div>
  <div id="party_menu_items" class="showdiv">
    <a href="{% url 'add_client' %}" id="add-party" onclick="menumodelHide()" class="asubmenuitem">Add Client</a>
    <a id="edit-party" class="asubmenuitem">Edit Client</a>
    {% if user.is_staff %}
    <a href="{% url 'add_client' %}"  id="delete-party1" class="asubmenuitem">Delete Client</a>
    {% endif %}
    <a id="genrate-token" href="{% url 'genrate_client_token' %}" class="asubmenuitem">Genrate Client Token</a>
  </div>
  <div id="pom_item" class="showdiv">
    <a id="apom" class="amenuitembtn" onclick="showhide('apom','apom_item')">Add hhhhh Purchase Orders</a>
    <div id="apom_item" class="showdiv" style="top:0">
      <p>Purchases</p>
    </div>
  </div>
</div>


{% block main_scripts %}
<script type="application/javascript" src="{% static 'core/js/menu_page.js' %}"></script>

<script>
/*
const buttons = [].slice.call(document.getElementsByClassName('asubmenuitem'))
buttons.forEach(button => {
  button.addEventListener('click', e => document.getElementById('menuModal').style.display='none')
})*/



  var menumodal = document.getElementById("menuModal");
var menubtn = document.getElementById("menuBtn");

function menumodelHide(){ menumodal.style.display="none";}

window.onclick = function(event) {
  if (event.target == menumodal) {
        menumodal.style.display ="none";    
  }
  
}

menubtn.onclick = function(event){  
  menumodal.style.display = "block";
}

</script>

{% endblock main_scripts %}