{% extends 'core/base.html' %}

{% block title %}setpass{% endblock title %}

{% block main_content %} 


<div  class="basemodal">

    <!-- Modal content -->
    <div class="base-modal-content col-l-6 col-m-9 col-s-11">
        <div class="modal-header">
            <h3 id="headertext" style="margin-top:10px; padding: 13px; text-align: center;">{{header}}</h3>
           
        </div>            
        <div class="base-modal-body">
           
            <form method="POST">
                {% csrf_token %}

                {% for field in fm %}
                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px">
                    {{ field.label_tag }} 
  
                    {{ field }}
  
                    {% for error in field.errors %}

                        <p style="color: red">{{ error }}</p>

                    {% endfor %}
                </div>
                    
                {% endfor %}
                
                <div style="float:right">
                    <a  href="/" class="ancor" style="text-decoration: none; float:left; margin-right:10px; margin-top:30px;" ><i> Exit </i></a>
                    <button type="submit" class="buttonstyle" style="float:right; margin-top:22px; margin-right: 10px;">Submit</button>
                </div>
            </form>        
            
        
        </div>

    </div>

  </div>


{% endblock main_content%}


{% block main_scripts %}
    {% if messages %}
        {% for message in messages %}
        <script>alertmsg('{{message}}',2000)</script>
        {% endfor %}
    {% endif %}
{% endblock main_scripts %}