{% extends 'core/base.html' %}

{% block title %}home{% endblock title %}

{% block main_content %}

<div class="basemodal">
  <div class="base-modal-content col-l-6 col-m-9 col-s-11 col-" style="top:5px">
    <div class="base-modal-header">
      <h style="position: relative; font-weight: bold; margin:0; top: 25%; -ms-transform: translateY(-50%);transform: translateY(-50%);" >Please Login</h>
    </div>
    <div class="base-modal-body">
      {% if messages %}{% for message in messages %}
      <div style="text-align: center; padding: 5px; color: red;"> {{message}} </div>
      {% endfor %}{% endif %}
      <form method="POST">
        {% csrf_token %}
        <div style="padding-bottom:10px;">
          {% for field in fm %}
          <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
            {{ field.label_tag }}

            {{ field }}

            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
          </div>
          {% endfor %}
          <div>
            <h><i> <small> Forget : </small> </i></h>
            <a href="{% url 'forget_pwd' %}" class="ancor" style="text-decoration: none; padding-top: 15px;"><i> password, </i></a>
            <span> </span>
            <a href="{% url 'forgetuname' %}" class="ancor" style="text-decoration: none; padding-top: 15px;"><i> username </i></a>
            <br> <br>
            <a href="{% url 'signup' %}" class="ancor" style="text-decoration: none; padding-top: 10px;"><i>
                singnup</i></a>
            <div style="float:right">
              <a href="/" class="ancor"
                style="text-decoration: none; float:left; margin-right:10px; margin-top:15px;"><i> Exit </i></a>
              <button id="submituser" type="Submit" onclick="hidesigninmodel()" class="buttonstyle"
                style="float:right; margin-top: 10px; margin-right:1px;">Submit</button>
            </div>
          </div>
          <div id="iner"></div>
        </div>
    </div>
  </div>
</div>

{% endblock main_content%}

{% block main_scripts %}

<script>
  var loginmodal = document.getElementById("loginModal");
var loginbtn = document.getElementById("loginBtn");

  loginbtn.onclick = function(event) {  
 loginmodal.style.display = "block";
}
</script>

{% endblock main_scripts %}