
<div class="topnav noprint"> 
  <a class="navbar-brand"> Spangle </a>
  {% if user.is_authenticated %}

 
  <a id="profilebtn" class="logoutbtn noselect" type="button" > 
    {% if user.user_img != None and user.user_img != "" %}  
    <img src="{{user.user_img.url}}" alt="" height="38" width="38"  >
    {% else %} 
    <img src="/media/user/default/defaultuser.png" alt="" height="38" width="38"  >  
    {% endif %} </a>
    
  <a id="menuBtn" class="menuBtn noselect">
    <div class="bento-menu">
      <div class="bento-dot"></div>
      <div class="bento-dot"></div>
      <div class="bento-dot"></div>
      <div class="bento-dot"></div>
      <div class="bento-dot"></div>
      <div class="bento-dot"></div>
      <div class="bento-dot"></div>
      <div class="bento-dot"></div>
      <div class="bento-dot"></div>
    </div>
  </a>
 
  {% else %}
  <a id="loginBtn" href="{% url 'signin' %}" class="loginbtn noselect"> Login </a>

  {% endif %}
 

</div>
