{% extends 'core/base.html' %}
{% load static %}
{% block title %}admin{% endblock title %}

{% block main_content %}

    <div class="basemodal">
        <div class="base-modal-content col-l-6 col-m-9 col-s-11" style="margin-top: 5px;" >
          <div class="base-modal-header">
            <h style="position: relative; font-weight: bold; margin:0; top: 25%; -ms-transform: translateY(-50%);transform: translateY(-50%);" >
                   
              ADD CLIENT
            
             
            </h>
          
          </div>        
              <div class= "base-modal-body">
                        
                <form method="POST" id="client-form">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.GET.next }}">
                  <div>
                    <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
                    <label for="id_client">Client Name:</label>                    
                    <input type="text" name="client" class="inputstyle" style="text-transform:capitalize;" required id="id_client_name">  
                    
                  </div>                     
                
                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
                    <label for="id_client_group">Client group:</label>
                    
                    <input name="client_group" class="validdatalist" placeholder="Select Group" type="search"  style="text-transform:capitalize;" list="group_list" required id="id_client_group">
                    <datalist id="group_list" style="text-transform:capitalize;">                   
                      <option data-id="a" value="a"> </option>
                      <option data-id="b" value="b"> </option>
                      <option data-id="c" value="c"> </option>
                      <option data-id="d" value="d"> </option>
                      <option data-id="e" value="e"> </option>
                      <option data-id="f" value="f"> </option>
                    </datalist>
                    
                </div>     
                
                               

                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px">
                  <label for="id_station">Station:</label> 

                  <input name="station" list="station_list" placeholder="Select Station" class="inputstyle" style="text-transform:capitalize;" required id="id_station">
                  <datalist id="station_list">
                    {% for cli in station %}
           
                    <option data-id="{{cli.id}}" value="{{cli.station}}"> </option>>
                   
                    {% endfor %}

                  </datalist>
                                    
                </div>
                

                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px">
                  <label for="id_transport">Transport:</label> 

                  <input name="transport" list="transport_list" placeholder="Select Tranport"  style="text-transform:capitalize;" required id="id_transport">
                  <datalist id="transport_list">
                  
                    {% for cli in transport %}
           
                    <option data-id="{{cli.id}}" value="{{cli.transport}}"> </option>>
                   
                    {% endfor %}

                  </datalist>

                  
                </div>

                

                

                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px">
                  <label for="id_station">Mobile/Whatsapp No :</label> 

                  <input name="mnumber" pattern="[7-9]{1}[0-9]{9}" placeholder="Enter 10 digit Whatsapp No." class="inputstyle"  required id="id_number">
                 
                                    
                </div>

                  <!--                 
                  <div>
                    <a class="ancor smallbuttonstyleround" href="#" style="text-decoration: none; margin-right: 3px; float: left; margin-top:30px;">Add Transport &#10009;</a>
                    <a class="ancor smallbuttonstyleround" href="#" style="text-decoration: none; margin-right: 3px; float: left; margin-top:30px;">Add Station &#10009;</a>                   
                  </div>
                -->
                </form>
              </div>             
        </div>
        <div class="base-modal-footer">
          <button id="ac_submit"  class="buttonstyle" form="client-form" style="float:right; margin-right: 10px;">Submit</button>
              
          <a type="button" id="pageBack" class="ancor" return false; style="text-decoration: none; float:right; margin-right:10px;" ><i> Exit </i></a>
        </div>
    </div>

    {% endblock main_content%}


{% block main_scripts %}
<script src="{% static 'core/js/fetchApi.js' %}"></script>
<script>
 document.getElementById('pageBack').addEventListener('click',pageback);
 
 function pageback(e) {
  
   window.history.back();
 }

 
document.getElementById('client-form').addEventListener('submit',submitdata);

function submitdata(e){
  e.preventDefault();
let c_name = document.getElementById('id_client_name').value.trim();
let g_id=selectedDatalistAttributeValue('id_client_group','group_list','data-id');
let t_id=selectedDatalistAttributeValue('id_transport','transport_list','data-id');
const s_id=selectedDatalistAttributeValue('id_station','station_list','data-id');
const m_no=document.getElementById('id_number').value.trim();

let data={'c_name':c_name,'g_id':g_id,'t_id':t_id,'s_id':s_id,'m_no':m_no};
let fetchtext =  fetch('/clients/add_client/',postoption(data));
  
  fetchtext.then(async response => {
     if (!response.ok) {
         throw Error(response.statusText);
     }
           return await response.json(); // Convert response to json use text for text/html
   })
   .then(data => {
   //Perform actions with the response data from the view          
  

   // alert(data.token)      
   console.log(data); 
   if(!confirm('Add Another Clent')){window.history.back()}
  
   })
   .catch(err=>{ if ( err == "Error: Internal Server Error" ){alert("Wrong Client");}else{ alert(err);}})



//alert('{{ request.GET.next }}')
}
</script>
{% endblock main_scripts %}
