{% extends 'core/base.html' %}
{% block title %}add client{% endblock title %}

{% block main_content %} 
    
    <div class="basemodal">
        <div class="base-modal-content col-l-6 col-m-9 col-s-11" style="margin-top: 5px;" >
          <div class="base-modal-header">
            <h style="position: relative; font-weight: bold; margin:0; top: 25%; -ms-transform: translateY(-50%);transform: translateY(-50%);" >
                   
              ADD CLIENT
            
             
            </h>
          
          </div>        
              <div class= "base-modal-body">
                        
                <form method="POST" onsubmit="submitdata()">
                  {% csrf_token %}
                  
                  <div>
                    <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
                    <label for="id_client">Client Name:</label>                    
                    <input type="text" name="client" class="inputstyle" style="text-transform:capitalize;" required id="id_client_name">  
                    
                  </div>                     
                
                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
                    <label for="id_client_group">Client group:</label>
                    
                    <input name="client_group" placeholder="Select Group" type="search" style="text-transform:capitalize;" list="group_list" required id="id_client_group">
                    <datalist id="group_list" style="text-transform:capitalize;">
                   

                      {% for cli in c_g %}
           
                        <option data-id="{{cli.id}}" value="{{cli.group_name}}"> </option>>
                       
                        {% endfor %}

                    </datalist>
                    
                </div>                     
                

                

                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:right; padding:2px">
                  <label for="id_transport">Transport:</label> 

                  <input name="transport" list="transport_list" placeholder="Select Tranport"  style="text-transform:capitalize;" required id="id_transport">
                  <datalist id="transport_list">
                  
                    {% for cli in transport %}
           
                    <option data-id="{{cli.id}}" value="{{cli.transport_name}}"> </option>>
                   
                    {% endfor %}

                  </datalist>

                  
                </div>

                

                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:right; padding:2px">
                  <label for="id_station">Station:</label> 

                  <input name="station" list="station_list" placeholder="Select Station" class="inputstyle" style="text-transform:capitalize;" required id="id_station">
                  <datalist id="station_list">
                    {% for cli in station %}
           
                    <option data-id="{{cli.id}}" value="{{cli.station_name}}"> </option>>
                   
                    {% endfor %}

                  </datalist>

                  
                </div>

                
              
          
                  
                                         
                  <div>
                    <a class="ancor smallbuttonstyleround" href="#" style="text-decoration: none; margin-right: 3px; float: left; margin-top:30px;">Add Transport &#10009;</a>
                    <a class="ancor smallbuttonstyleround" href="#" style="text-decoration: none; margin-right: 3px; float: left; margin-top:30px;">Add Station &#10009;</a>
                    
                    <button type="submit" class="buttonstyle" style="float:right; margin-top:22px; margin-right: 10px;">Submit</button>
                    
                    <a  href="/" class="ancor" style="text-decoration: none; float:right; margin-right:10px; margin-top:30px;" ><i> Exit </i></a>
                  </div>
                  
                </form>
              </div>
        </div>
    </div>

      
{% endblock main_content%}

{% block main_scripts %}


function submitdata(){
let g_id=selecteddatalistid('id_client_group','group_list')
let t_id=selecteddatalistid('id_transport','transport_list')
let s_id=selecteddatalistid('id_station','station_list')
document.getElementById('id_client_group').value=g_id
document.getElementById('id_transport').value=t_id
document.getElementById('id_station').value=s_id

alert(g_id+t_id+s_id)
}

</script>
   
{% endblock main_scripts %}