{% extends 'core/base.html' %}
{% block title %}add consignee{% endblock title %}

{% block main_content %}

<div class="basemodal">
  <div class="base-modal-content col-l-6 col-m-9 col-s-11"  style="margin-top: 5px;">
    <div class="base-modal-header">
      <h style="position: relative; font-weight: bold; margin:0; top: 25%; -ms-transform: translateY(-50%);transform: translateY(-50%);" >
                   
      
        ADD CONSIGNEE

      
      </h>

    </div>
    <div class="base-modal-body">
     
      <form name="Consignee_form" id="consignee_form" method="POST" onsubmit="submitdata()"> 
        {% csrf_token %}

        <div>

          <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px">
            <label for="id_client_id">Client:</label>

            <input name="client_id"  list="client_list" type="search" class="inputstyle validdatalist" placeholder="Select Client" style="text-transform:capitalize;" required id="id_client_id">
            <datalist id="client_list" >
              {% for cli in clients %}
           
              <option data-id="{{cli.id}}" value="{{cli.client_name}}"> </option>>
             
              {% endfor %}
            </datalist>


          </div>



          <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px">
            <label for="id_consignee_name">Consignee Name:</label>

            <input type="text" name="consignee_name" placeholder="Enter Consignee Name" class="inputstyle" style="text-transform:capitalize;" required
              id="id_consignee_name">


          </div>

          

          <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px">
            <label for="id_station">Station:</label>

            <input name="station" list="station_list" type="search" class="inputstyle" placeholder="Select Station" style="text-transform:capitalize;" required id="id_station">
            <datalist id="station_list">
              {% for cli in stations %}
           
              <option data-id="{{cli.id}}" value="{{cli.station}}"> </option>>
             
              {% endfor %}

            </datalist>


          </div>

          <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px">
            <label for="id_transport">Transport:</label>

            <input name="transport" list="transport_list" type="search" class="inputstyle" placeholder="Select Transport" style="text-transform:capitalize;" required id="id_transport">
            <datalist id="transport_list">
              {% for cli in transports %}
           
              <option data-id="{{cli.id}}" value="{{cli.transport}}"> </option>>
             
              {% endfor %}

            </datalist>


          </div>



          
        </div>



       

      </form>
    </div>
    <div class="base-modal-footer">
      <!---
        <a class="ancor smallbuttonstyleround" href="#"
        style="text-decoration: none; margin-right: 3px; float: left; margin-top:30px;">Add Transport &#10009;</a>
      <a class="ancor smallbuttonstyleround" href="#"
        style="text-decoration: none; margin-right: 3px; float: left; margin-top:30px;">Add Station &#10009;</a>
      -->
      <button type="submit" class="buttonstyle" form="consignee_form" 
        style="float:right; margin-right: 10px;">Submit</button>

      <a href="/" class="ancor" style="text-decoration: none; float:right; margin-right:10px;"><i>
          Exit </i></a>
    </div>
  </div>
</div>


{% endblock main_content%}

{% block main_scripts %}

<script>

  if('{{user.is_user}}' == 'True'){
  document.getElementById('id_client_id').value='{{user_client_name}}'
  document.getElementById('id_client_id').disabled=true;
 }


 function submitdata(){
 document.getElementById('id_consignee_name').value=document.getElementById('id_consignee_name').value.trim();
 document.getElementById('id_transport').value=document.getElementById('id_transport').value.trim();
 document.getElementById('id_station').value=document.getElementById('id_station').value.trim();
  
 
  }
  
  </script>

{% endblock main_scripts %}