{% extends 'core/base.html' %}
{% block title %}admin{% endblock title %}
{% block page_head %}
<style>
  .accordion {
    background-color: rgb(209, 252, 233);
    color: rgb(51, 51, 51);
    cursor: pointer;
    padding: 7px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 2px;
  }

  .active,
  .accordion:hover {
    background-color: rgb(148, 214, 253);
  }

  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .panel {
    padding: 5 10px;
    background-color: whitesmoke;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
</style>
<style>
  .myTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    text-align: center;


  }

  .myTable th:first-child {

    border-radius: 0 0 0 0;
  }

  .myTable th:last-child {

    border-radius: 0 0 0 0;
  }

  .myTable td,
  .customers th {
    border: 1px solid #ddd;
    padding: 2px;
  }

  .myTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /*
    #myTable tr:hover {background-color: #ddd;}
    */
  .myTable th {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
    text-align: center;
    background-color: rgb(148, 214, 253);
    color: rgb(34, 33, 33);
  }
</style>
<style>
  .popupdiv {
    display: none;
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.1);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.1);
    /* Black w/ opacity */

  }

  /* Popup container */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 50px;
  }

  /* The actual popup (appears on top) */
  .popuptext {
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0px 0px;
    position: absolute;
    top: 0;
    right: 6vw;
    z-index: 99999999;


  }

  /* Popup arrow */
  .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 95%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .showpopup {
    display: block;
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
</style>
{% endblock page_head %}


{% block main_content %}
<div style="padding:5px;">
  <div class="base-modal-content col-l-12 col-m-12 col-s-12" style="margin-top:5px; padding: 5px;">
    <div class="base-modal-header" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
      <div class="col-l-10 col-m-10 col-s-10 col-10" style="float:left;">
        <input id="consignee_input" placeholder="Select Consignee" type="search" multiple value="" list="datalist"
          required style="text-transform:capitalize;" />
        <datalist id="datalist">
          {% for cli in consigne %}
          <option data-id="{{cli.id}}" client-id="{{cli.client_id}}" value="{{cli.consignee_name}} / {{cli.client_id}}">
          </option>
          {% endfor %}
        </datalist>
      </div>
      <div class="col-l-2 col-m-2 col-s-2 col-2" style="text-align: center; margin-top: 4px; float:right; padding:2px;">
        <button id="show-order" class="buttonstyle"> Show </button>
      </div>
           
    </div>
    <div class="base-modal-body">
      <div id="ac" class="col-l-12 col-m-12 col-s-12 col-">

      </div>
    </div>

  </div>
</div>

<div class="popupdiv" id="popupdiv">
  <div class="popuptext" id="myPopup">
    <button style="width:21%; float: left; border-radius: 6px;" id="alert4" onclick=alert1()>Edit</button>
    <button style="width:21%; float: left; border-radius: 6px;" id="alert5" onclick=alert1()>Details</button>
    <button style="width:21%; float: left; border-radius: 6px;" id="alert6" onclick=alert1()>Delete</button>
    <button style="width:21%; float: left; border-radius: 6px;" id="dispatch">Send</button>
    <button style="width:16%; float: left; border-radius: 6px;" id="popupclose" onclick=popupclose()>X</button>
  </div>
</div>
{% endblock main_content%}


{% block main_scripts %}

<script type="module">

  var tablerowdata = [];
  import * as ajexcall from "/static/core/js/modules/ajex.js";
  let items = JSON.parse('{{items  | escapejs }}');
  let item_variants = JSON.parse('{{item_variants | escapejs }}');
  let unit = JSON.parse('{{unit | escapejs }}');
  console.log(unit);
  // console.log(items);
  const order1_div = document.getElementById('accordion');
  // const tbodyEl = document.querySelector('tbody');

  const mainDiv = document.getElementById('maindiv');
  //  mainDiv.style.height=screen.height-320+"px";
  const ord = document.getElementById('ac');
  ord.style.maxHeight = 350 + "px";


  // order1_div.addEventListener('mouseover',gg);

  document.getElementById('show-order').addEventListener('click', show_order_item);

  function show_order_item() {
    let con_id = selectedDatalistAttributeValue('consignee_input', 'datalist', 'data-id');
    const data = { 'con_id': con_id };
    get_data('/orders/order_item', data);
  }

  function get_data(path, data) {

    let item_name = '';
    let variant_name = '';
    let order_unit = '';
    let per_unit ='';
    fetch('/orders/order_item/', ajexcall.putoption(data))
      .then(response => {
        if (!response.ok) {
          throw Error(response.statusText);
        }
        return response.json(); // Convert response to json use text for text
      })
      .then(data => {

        console.log(data);
        ord.innerHTML = '';
        for (let o = 0; o < data['orders'].length; o++) {
          let tb = document.createElement('table');
          tb.id = 'myTable' + o;
          tb.className = 'myTable';
          tb.style = "text-align: center;";
          let the = document.createElement('thead');
          the.style = 'text-align: center; font-size: 12px;';
          let tr = document.createElement('tr');
          let updateBtn = document.createElement('button');


          let th0 = document.createElement('th');
          let th1 = document.createElement('th');
          let th2 = document.createElement('th');
          let th3 = document.createElement('th');
          let th4 = document.createElement('th');

          let tbody = document.createElement('tbody')
          let tht0 = document.createTextNode('Item');
          let tht1 = document.createTextNode('Price');
          let tht2 = document.createTextNode('Order');
          let tht3 = document.createTextNode('Bal');
          let tht4 = document.createTextNode('');

          th0.appendChild(tht0);
          th1.appendChild(tht1);
          th2.appendChild(tht2);
          th3.appendChild(tht3);
          th4.appendChild(tht4);

          tr.appendChild(th0);
          tr.appendChild(th1);
          tr.appendChild(th2);
          tr.appendChild(th3);
          tr.appendChild(th4);

          the.appendChild(tr);
          tb.appendChild(the);
          tb.appendChild(tbody);

          let d = document.createElement('div');
          d.className = 'panel';
          d.appendChild(tb);
          let date = document.createTextNode(' Date : ' + formatDate(data['orders'][o]['date']) + ' Order Id : ' + data['orders'][o]['id']);

          let btn = document.createElement('button');

          btn.className = 'accordion';
          btn.appendChild(date);
          ord.appendChild(btn);
          ord.appendChild(d);


          for (var i = 0; i < data['items'].length; i++) {

            if (data['orders'][o]['id'] == data['items'][i]['order_id_id']) {

              for (let it in items) {
                if (data['items'][i]['item_id_id'] == items[it]['item_id']) {
                   item_name = items[it]['item_name'] 
                  }
              }
              for (let iv in item_variants) {
                if (data['items'][i]['item_variant_id_id'] == item_variants[iv]['variant_id']) {
                   variant_name = item_variants[iv]['variant_name'] 
                  }
              }

              for(let un in unit){
                if(data['items'][i]['order_unit_id'] == unit[un]['unit_id']){
                 order_unit = unit[un]['unit_name']
                
                }
                if(data['items'][i]['price_per_unit_id'] == unit[un]['unit_id']){
                 per_unit = unit[un]['unit_name']
                
                }

              }

              tbody.innerHTML += `
        <tr>        
        <td style="text-align: center; font-size: 12px;">${item_name + ' ' + variant_name}</td>
        <td style="text-align: center; font-size: 12px;">${data['items'][i]['item_veriant_price']+' /'+per_unit}</td>
        <td style="text-align: center; font-size: 12px;">${data['items'][i]['item_qty']+ ' ' + order_unit}</td>
        <td style="text-align: center; font-size: 12px;">${data['items'][i]['item_qty']+ ' ' + order_unit}</td>          
        <td hidden>${data['items'][i]['order_id_id']}</td>
        <td hidden>${data['items'][i]['item_id_id']}</td>       
        <td hidden>${data['items'][i]['item_veriant_price']}</td>
        <td hidden>${data['items'][i]['item_qty']}</td>
        <td style="text-align: center; font-size: 12px;"><button class="optionBtn">&#8942;</button></td>      
        </tr>`;

            }
          }
          caltab('myTable' + o);

        }
        accordenmenu();

      })
      .catch(err => { alert(err); })

  }
  function accordenmenu() {
    var acc = document.getElementsByClassName("accordion");
    var pa = document.getElementsByClassName('panel');
    var i;
    var p1;
    for (i = 0; i < acc.length; i++) {

      acc[i].addEventListener("click", function () {      
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          for (let j = 0; j < acc.length; j++) {
            if (pa[j].style.maxHeight) {
              pa[j].style.maxHeight = null;
              acc[j].classList.remove("active");
            }
          }
          panel.style.maxHeight = panel.scrollHeight + "px";
          // alert( panel.style.maxHeight);
        }
      });
    }
  }

  function caltab(table_id) {
    document.getElementById(table_id)
      .addEventListener('click', function (e) {
        tablerowdata = '';
        if (e.target.classList.contains('optionBtn')) {
          e = e || window.event;
          var data = [];
          var target = e.srcElement || e.target;
          while (target && target.nodeName !== "TR") {
            target = target.parentNode;
          }
          if (target) {
            var cells = target.getElementsByTagName("td");
            for (var i = 0; i < cells.length - 1; i++) {
              data.push(cells[i].innerHTML);

            }

          }
          popupcordinate(e);
          tablerowdata = data ;
          // alert(data);        

        }


      });
  }

  function formatDate(input) {
    var datePart = input.match(/\d+/g),
      year = datePart[0].substring(0), // get only two digits
      month = datePart[1], day = datePart[2];

    return day + '/' + month + '/' + year;
  }

  const popupdiv = document.getElementById('popupdiv');
  const popup = document.getElementById("myPopup");


  function popupcordinate(event) {
    var x = event.offsetX;
    var y = event.offsetY;
    popup.style.marginTop = event.clientY - 75 - y + "px";
    // popup.style.marginLeft=event.clientX-230-x +"px";
    // popup.style.right=event.clientX-x +"px";
    popupdiv.style.display = 'block';
  
  }


  const disp = document.getElementById('dispatch');
  disp.addEventListener('click', dispatch)
  function dispatch() {
    let d='';
    for(let tri=4; tri<tablerowdata.length; tri++){
     d +=tablerowdata[tri]+', '
    }
    alert(d);

  }


</script>
<script>
  function popupclose() {
    let popupdiv = document.getElementById('popupdiv');
    popupdiv.style.display = 'none';
  }

  window.onclick = function (event) {
    if (event.target.className == 'popupdiv') {
      popupdiv.style.display = 'none';
    }
  }

</script>

{% endblock main_scripts %}