{% extends 'core/base.html' %}

{% block title %}home{% endblock title %}

{% block main_content %}

<div id="home_content">

  <form>
    <h> For Admin </h>

    <input id="datalist_input" type="search" multiple value="" list="datalist_id" required
      style="text-transform:capitalize;" />
    <datalist id="datalist_id">


      {% for cli in consigne %}

      <option data-id="{{cli.id}}" value="{{cli.consignee_name}} / {{cli.client_id}}"> </option>>

      {% endfor %}

    </datalist>

    <button class="buttonstyle" type="submit" id="check">Check</button>
    <!-- %0a for line brak in whatsups -->
    <a type="button" href="whatsapp://send/?phone=919213427055&amp;text=Hello user %0a{{user}}" id="openWA">Send to
      WhatsApp</a>

  </form>
  <!-- Auto open on WebView and Firefox 
      <iframe id="launcher" src="whatsapp://send/?phone=62812345678&amp;text=test" style="display: none;"></iframe> -->



  <br><br><br>
  {% include 'clients/orders_details.html/' %}

</div>
{% endblock main_content%}

{% block main_scripts %}



<script>
  var menumodal = document.getElementById("menuModal");
  var menubtn = document.getElementById("menuBtn");

  window.onclick = function (event) {
    if (event.target == menumodal) {
      menumodal.style.display = "none";
    }

  }

  menubtn.onclick = function (event) {
    menumodal.style.display = "block";
  }



  document.getElementById('check').addEventListener('click', function () {

    itc = selecteddatalistid('datalist_input', 'datalist_id');
    if (itc != undefined) {
      //alert(itc)
    }
    else {
      //alert ("Please Select Valied Value") 
    }
  });




</script>


{% endblock main_scripts %}