{% extends 'core/base.html' %}

{% block title %}home{% endblock title %}

{% block main_content %} 

<div id="home_content" style="position: absolute; left:0; right: 0; background-color:lightblue;">  
    <h3> For client dashboard </h3>
    <form>
      <input id="datalist_input" type="text" value="" list="datalist_id" required />
        <datalist id="datalist_id">          
            {% for clients in client %}   
             <option data-id="{{clients.id}}" value="{{clients.client}}"></option>>
            {% endfor %}
        </datalist>

        <button class="buttonstyle" type="submit" id="check">Check</button>      
    </form>
    
</div>

{% endblock main_content%}

{% block main_scripts %}

{% if messages %}
{% for message in messages %}
<script>alertmsg('{{message}}',5000)</script>
{% endfor %}
{% endif %}
   
{% endblock main_scripts %}