
     
                
                  <div>
                    <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
                    <label for="id_client">Client Name:</label>                    
                    <input type="text" name="client" class="inputstyle" style="text-transform:capitalize;" required id="id_client_name">  
                    
                  </div>                     
                
                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
                    <label for="id_client_group">Client group:</label>
                    
                    <input name="client_group" placeholder="Select Group" type="search"  style="text-transform:capitalize;" list="group_list" required id="id_client_group">
                    <datalist id="group_list" style="text-transform:capitalize;">
                   

                      {% for cli in c_g %}
           
                        <option data-id="{{cli.id}}" value="{{cli.group_name}}"> </option>>
                       
                        {% endfor %}

                    </datalist>
                    
                </div>                     
                

                

                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:right; padding:2px">
                  <label for="id_transport">Transport:</label> 

                  <input name="transport" list="transport_list" placeholder="Select Tranport"  style="text-transform:capitalize;" required id="id_transport">
                  <datalist id="transport_list">
                  
                    {% for cli in transport %}
           
                    <option data-id="{{cli.id}}" value="{{cli.transport_name}}"> </option>>
                   
                    {% endfor %}

                  </datalist>

                  
                </div>

                

                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:right; padding:2px">
                  <label for="id_station">Station:</label> 

                  <input name="station" list="station_list" placeholder="Select Station" class="inputstyle" style="text-transform:capitalize;" required id="id_station">
                  <datalist id="station_list">
                    {% for cli in station %}
           
                    <option data-id="{{cli.id}}" value="{{cli.station_name}}"> </option>>
                   
                    {% endfor %}

                  </datalist>

                  
                </div>
                