{% extends 'core/base.html' %}
{% block title %}benrate token{% endblock title %}

{% block main_content %} 
    
    <div class="basemodal">
        <div class="base-modal-content col-l-6 col-m-9 col-s-11" style="margin-top: 5px;" >
          <div class="base-modal-header">
            <h style="position: relative; font-weight: bold; margin:0; top: 25%; -ms-transform: translateY(-50%);transform: translateY(-50%);" >
                   
              Genrate Token
            
             
            </h>
          
          </div>        
              <div class= "base-modal-body">
                        
                <form method="POST"  onsubmit="submitdata()">
                  {% csrf_token %}
                  
                               
                
                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
                    <label for="id_client">Select Client:</label>
                    
                    <input name="client" placeholder="Select Client" type="search" style="text-transform:capitalize;" list="client_list" required id="id_client">
                    <datalist id="client_list" >
                   

                      {% for cli in clients %}
           
                        <option data-id="{{cli.id}}" value="{{cli.client_name}}"> </option>
                       
                        {% endfor %}

                    </datalist>
                    
                </div>           
                
                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
                    <label for="id_status">Status:</label>
                    
                    <input name="status" id="id_status" placeholder="Select Client" class="inputstyle" value="" type="search" style="text-transform:capitalize; font-weight: bold;" disabled="true">
                   
                    
                </div>          
                
                  <div>
                   
                    <button type="submit" id="genrate" class="buttonstyle" style="float:right; margin-top:22px; margin-right: 10px;">Submit</button>
                    
                    <a  href="/" class="ancor" style="text-decoration: none; float:right; margin-right:10px; margin-top:30px;" ><i> Exit </i></a>
                  </div>
                  
                </form>
              </div>
        </div>
    </div>

      
{% endblock main_content%}

{% block main_scripts %}

<script>

document.getElementById("id_client").addEventListener("change", myFunction);
document.getElementById("genrate").disabled = true;


function myFunction() {
  let c_id=selecteddatalistid('id_client','client_list');

  let data={'client_id':c_id};
       
        let fetchtext =  fetch('/clients/genrate_client_token',postoption(data));
  
         fetchtext.then(async response => {
            if (!response.ok) {
                throw Error(response.statusText);
            }
                  return await response.json(); // Convert response to json use text for text
          })
          .then(data => {
          //Perform actions with the response data from the view          
          document.getElementById('id_status').value = data.token

          if(data.token == 'Token : Not Genrated')
          {
            document.getElementById('genrate').disabled = false;
          }
          else{
            document.getElementById('genrate').disabled = true;
          }
          // alert(data.token)          
         
          })
          .catch(err=>{ if ( err == "Error: Internal Server Error" ){alert("Wrong Client");}else{ alert(err);}})
  
        }
function submitdata(){

  
  let c_id=selecteddatalistid('id_client','client_list');
  document.getElementById('id_client').value=c_id;

}

</script>
   
{% endblock main_scripts %}