{% extends 'core/base.html' %}
{% block title %}benrate token{% endblock title %}

{% block main_content %} 
    
    <div class="basemodal">
        <div class="base-modal-content col-l-6 col-m-9 col-s-11" style="margin-top: 5px;" >
          <div class="base-modal-header">
            <h style="position: relative; font-weight: bold; margin:0; top: 25%; -ms-transform: translateY(-50%);transform: translateY(-50%);" >
                   
              Genrate Token
            
             
            </h>
          
          </div>        
              <div class= "base-modal-body">
                        
                <form method="POST"  onsubmit="submitdata()">
                  {% csrf_token %}
                  
                               
                
                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
                    <label for="id_client">Select Client:</label>
                    
                    <input name="client" placeholder="Select Client" type="search" style="text-transform:capitalize;" list="client_list" required id="id_client">
                    <datalist id="client_list" >
                   

                      {% for cli in clients %}
           
                        <option data-id="{{cli.id}}" value="{{cli.client_name}}"> </option>
                       
                        {% endfor %}

                    </datalist>
                    
                </div>           
                
                <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
                    <label for="id_status">Status:</label>
                    
                    <input name="status" id="id_status" placeholder="Select Client" class="inputstyle" value="" type="search" style="text-transform:capitalize; background-color: aliceblue; font-weight: bold; color:black" disabled="true">
                   
                    
                </div>          
                
                  <div>
                   
                    <button type="submit" id="genrate" class="buttonstyle" style="float:right;display: none; margin-top:22px; margin-right: 10px;">Genrate Token</button>
                    
                    <a  href="/" class="buttonstyle" style="text-decoration: none; float:right; margin-right:10px; margin-top:30px;" ><i>Exit</i></a>
                    <a  type="button" id="email" onclick="c_prompt.render('Send E-Mail','Enter E-Mail Address','sendmail')" class="ancor" style="text-decoration: none; display: none; float:right; margin-right:5px; margin-top:30px;" ><small><i>Email</i></small></a>
                    <a type="button" id="whatsup" onclick="c_prompt.render('Send Whatsapp','Enter Whatsapp No.','whatsapp')" class="ancor" style="text-decoration: none; display: none; float:right;margin-right:5px; margin-top:30px;" ><small><i>Whatsapp,</i></small></a>
                    <label id="sendby" style="text-decoration: none; display: none; float:right; margin-right:5px; margin-top:30px;"><i>Send Token By:</i></label>
                  </div>
                  
                </form>
              </div>
        </div>
    </div>

      
{% endblock main_content%}

{% block main_scripts %}
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>

var secureToken = '' ;
document.getElementById("id_client").addEventListener("change", myFunction);

function sendmail(val)
{
  let token=document.getElementById("id_status").value;
  
  if(sendmail){
        document.getElementById('loader').style.display='block';   
        Email.send({       
              SecureToken: secureToken,
              To: val,
              From: "mail@spangle.in",
              Subject: "your token is : ",
              Body: "Your Token is : "+token,
            })
              .then(function (message) {
                document.getElementById('loader').style.display='none';   
                c_alert.render('Mail Messasge','mail sent successfully',2000);
              });
      }
}
function whatsapp(val){
  let token=document.getElementById("id_status").value;
  
  if (val){
  window.open("https://wa.me/91"+val+"/?text=Token is: "+token);
  }
}



function myFunction() {
  let c_id=selecteddatalistid('id_client','client_list');

  let data={'client_id':c_id};
       
        let fetchtext =  fetch('/clients/genrate_client_token',postoption(data));
  
         fetchtext.then(async response => {
            if (!response.ok) {
                throw Error(response.statusText);
            }
                  return await response.json(); // Convert response to json use text for text
          })
          .then(data => {
          //Perform actions with the response data from the view          
          document.getElementById('id_status').value = data.token ;

          secureToken = data.securetoken;

          if(data.token != 'Token : Not Genrated')
          {
            document.getElementById('genrate').style.display = 'none';
            var email = document.getElementById('email');
                email.style.display="block";
            var whatsup = document.getElementById('whatsup');
                whatsup.style.display="block";
            var sendby = document.getElementById('sendby');
                sendby.style.display="block";
                       
          }
          else{
            document.getElementById('genrate').style.display='block';
            var email = document.getElementById('email');
                email.style.display="none";
            var whatsup = document.getElementById('whatsup');
                whatsup.style.display="none";
            var sendby = document.getElementById('sendby');
                sendby.style.display="none";
            
          }
          // alert(data.token)          
         
          })
          .catch(err=>{ if ( err == "Error: Internal Server Error" ){alert("Wrong Client");}else{ alert(err);}})
  
        }
function submitdata(){

  
  let c_id=selecteddatalistid('id_client','client_list');
  document.getElementById('id_client').value=c_id;

}

</script>
   
{% endblock main_scripts %}