

<div class="basemodal1"  >
   

    <div class="base-modal-content1 col-l-6 col-m-9 col-s-11" >
        <div class="base-modal-header1">
          <h3 style="padding: 5px; text-align: center;">
            {% if header %} 
            {{header}}
            {% else %}              
            ADD CLIENT
          
            {% endif %}
          </h3>
        
          </div>        
        <div class= "base-modal-body1">

<table border="1" cellpadding="5" cellspacing="5" width="100%" style="backgroundcolor:red;">     
<tr style="backgroundcolor:red;" >
     <th  >Header Name1</th>
     <th>Header Name1</th>
   
</tr>     
<tr>         
    <th>Header Name3 <td>ff</td> </th>
      
</tr>    


</table> 
  
          <table id="table_to_highlight">
              <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Position</th>
              </tr>
              <tr>
                  <td>Shivam Singhal</td>
                  <td>shivamsinghal@app.com</td>
                  <td>Full Stack Developer</td>
              </tr>
              <tr>
                  <td>Shashank Chugh</td>
                  <td>shshankchugh@app.com</td>
                  <td>Software Developer</td>
              </tr>
              <tr>
                  <td>Akash Kumar</td>
                  <td>fff</td>
                  <td>ML Engineer</td>
              </tr>
              <tr>
                  <td>Shivam Jaiswal</td>
                  <td>shivamjaiswal@app.com</td>
                  <td>Ethical Hacker</td>
              </tr>
          </table>
        
  
          </div>
      </div>

</div>

