{% extends 'core/base.html' %}
{% block title %}add client{% endblock title %}

{% block main_content %} 
    
    <div class="basemodal">
        <div class="base-modal-content col-l-6 col-m-9 col-s-11" style="margin-top: 5px;" >
          <div class="base-modal-header">
            <h style="position: relative; font-weight: bold; margin:0; top: 25%; -ms-transform: translateY(-50%);transform: translateY(-50%);" >
                   
              SEND WHATSAPP
            
             
            </h>
          
          </div>        
              <div class= "base-modal-body">
                        
                <form method="POST" onsubmit="submitdata()">
                  {% csrf_token %}
                  
                  <div>
                    <div class="col-l-6 col-m-6 col-s-6 col-" style="float:left; padding:2px;">
                    <label for="id_whatsapp">Whatsapp No.:</label>                    
                    <input type="number" name="client" class="inputstyle" style="text-transform:capitalize;" required id="id_whatsapp">  
                    
                  </div>                     
                                         
                  <div>
                   
                    <button type="submit" class="buttonstyle" style="float:right; margin-top:22px; margin-right: 10px;">Send</button>
                    
                    <a  href="/" class="ancor" style="text-decoration: none; float:right; margin-right:10px; margin-top:30px;" ><i> Exit </i></a>
                  </div>
                  
                </form>
              </div>
        </div>
    </div>

      
{% endblock main_content%}

{% block main_scripts %}
<script>

function submitdata(){
  var pno=document.getElementById("id_whatsapp");
 window.open("whatsapp://send/?phone="+pno+"&amp;text=Hello user  %0a{{orders}}");
}

</script>
   
{% endblock main_scripts %}